[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RInSp"]
	path = RInSp
	url = https://github.com/cran/RInSp
	shallow = true
	registered = true
